# Config syntax template crash course
# https://github.com/ghostty-org/ghostty/blob/main/src/config/config-template

# General settings
title = " "
theme = Catppuccin Macchiato

# Font settings
font-family = MonacoB
font-size = 13
font-thicken = true
## Disable ligatures
font-feature = -liga, -calt, -dlig

# Cursor settings
cursor-style = block
shell-integration-features = no-cursor
